
.nav{
    height: 80px;
    width: 100%;
    background-color: rgb(214, 232, 248);
    position: absolute;
 


 }
 

  body{
   font-family: Arial, Helvetica, sans-serif;
}
 
 .container{
    display: flex;
    justify-content:space-between;
      margin-top: 23px;
      
 }  
 
ul{
    display: flex;
 list-style: none;
    margin-top: 5px;
    margin-right: 600px;
    position: relative;
    right: 50px;
}


.logo{
    font-size: 22px;
    position: relative;
    right: 40px;
    
     
   
 }
 li{
    margin-left: 20px;
 
   
     
  
 }
 a {
    font-size: 17px;
    color: rgb(36, 36, 48);
    border-style: hidden;
     
  
  }
  a:hover{
    color: rgb(36, 36, 48);
    text-decoration:  none;
  }

  .sur{

    background-color: rgb(214, 232, 248);
    border :1px ;
    color: rgb(35, 35, 48);
    font-size: 17px;
    font-weight: lighter;
    height: auto;
 }
.sur:hover {
    background-color:  rgb(214, 232, 248);
    border :none ;
    color: rgb(35, 35, 48);
 }
  
 .shopCard{

    position: relative;
    left: 0px;
    padding: 0px;
    height: 40px;
    width: 100px;
     background-color: aliceblue;
     color: rgb(55, 48, 48);
      
 }
    i{
      padding-right:0px;
    }

    .off{
        height:340px;
        width:100%;
        background-color: rgb(80, 76, 76);
        color: aliceblue;
        position: absolute;
        top: 80px;
         text-align: center;
         padding-top: 150px;
    }


    .container-sm{
        display: flex;
        flex-wrap: wrap;
    }
    .cards{
        margin-top: 500px;
         margin-left: 170px;
         position: relative;
    }
 body{
   background-color: aliceblue;
 }
/* 

.nav .container{
  justify-content:space-between;
   
  margin-left:200px;
  
 
 
}

.logo{
   font-size: 22px;
  position: relative;
  right: 60px;
    
  
}

ul{
   display: flex;
list-style: none;
   margin-top: 20px;
   margin-right: 600px;
   position: relative;
   right: 50px;
}
li{
   margin-left: 20px;

  
    
 
}
a {
  font-size: 17px;
  color: rgb(36, 36, 48);
  border-style: hidden;
   

}
a:hover{
  color: rgb(36, 36, 48);
  text-decoration:  none;
}

 
  .sur{

     background-color: aliceblue;
     border :1px ;
     color: rgb(35, 35, 48);
     font-size: 17px;
     font-weight: lighter;
     height: auto;
  }
 .sur:hover {
     background-color: aliceblue;
     border :none ;
     color: rgb(35, 35, 48);
  }
  .sur :active{
     background-color: aliceblue;
     border :none ;
     color: rgb(35, 35, 48);
  }   
  
/*    
.shopCard{

position: relative;
left: 30px;
margin-left: 10px;
}  
i{
  padding-right:12px;
} */


 
